body{
  background-color: white;
  font-family: 'Roboto';
  color: black;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

h1{
  font-size: 50px;
  margin-bottom: 70px;
}

input[type=text] {
  width: 248px;
  height: 25px;
  padding: 10px;
  padding-left: 20px;
  border: 2px solid black;
  border-radius: 25px;
  color: black;
  font-size: 17px;
  margin-bottom: 80px;
}

.drop-down-class select {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #778899;
  width: 100px;
  text-indent: 1px;
  text-overflow: "";
  color: #000000;
  padding: 5px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 10px;
}

.results{
  border: 2px solid black;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-align: left;
}

.results__title {
  margin: 0;
}

.results__word-type {
  margin: 0;
  font-weight: 600;
  font-style: italic;
}

.results__definition {
  max-width: 500px;
  margin: 20px auto 0 auto;
}

span {
  cursor: pointer;
}

.on {
  opacity: 1 !important;
}

.hide {
  display: none;
}

#new {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #eee;
  background: white;
  box-sizing: border-box;
}

#new:focus, #new:hover {
  border: 1px solid white;
  background: #eee;
}
